<section class="top-nav-sec">
  <div class="top-nav-wrapper">
    <div class="top-nav">
      <a href="javascript:;">
        <div class="sticky-menu">
          <i class="fas fa-bars"></i>
        </div>
      </a>
      <div class="left-icon-area">
        <p>
          <img class="aws2" src="../assets/aws2.png" width="200"
            style="filter: drop-shadow(1px 1px 2px gray);">
          <span>
          </span>
        </p>
      </div>
      <div class="center-btn-area">
        <ul>
          <li data-target="about">
            <a href="#">Cloud Computing & DevOps</a>
          </li>
          <li class="bootcamp-li">
            <a href="https://blockstellart.com/aws-bootcamp" target="_blank">Accede al Bootcamp</a>
          </li>
        </ul>
      </div>
      <div class="right-btn-area">
        <div class="nav-get-started">
          <a href="https://blockstellart.com/aws-bootcamp" target="_blank" class="button-look get-started">Accede al Bootcamp</a>
        </div>
        <div class="side-menu">
          <div class="side-menu-burger">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="landing-section landing-fade-up-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12 landing-left-text">
        <h2>
          <span class="landing-fade-up-item" style="margin-right: 13px">El Bootcamp online</span>
          <span class="platinum-color landing-fade-up-item" style="color: #3b98ef;">que transformará</span> <br>
          <span class="landing-fade-up-item">tu carrera en Cloud Computing</span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 landing-effect-right landing-fade-up-item">
        <div class="laptop-wrapper">
          <img src="../assets/images/home-mac.png">
          <div class="screen-wrapper">
            <div class="laptop-screen">
              <div class="laptop-cursor">
                <svg width="100%" height="100%" viewBox="0 0 332 322" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.5 9L147 310.5L214 199.5M10.5 9L214 199.5M10.5 9L320.5 125L214 199.5" stroke="#000"
                    stroke-width="10" fill="#000" />
                </svg>
              </div>
              <div class="container">
                <div class="row selections">
                  <img src="../assets/bootcamp-aws.png">
                </div>
                <!-- <div class="row select-result select-result-a">
                  <div class="col-md-12 back-button-wrapper">
                    <div class="back-button">
                      <i class="fas fa-chevron-left"></i><span>back</span>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bubble-container">
    <div class="bubble-wrapper">
    </div>
  </div>
</section>
<section class="text-running-way-sec">
  <div class="text-running-way-left text-running-way">
    <div class="text-row">
      <div class="single-services-list">
        <div class="service-name"><img src="../assets/images/Res_Amazon-EC2_Instance_48.png" alt=""></div>
        <div class="break"></div>
        <div class="service-name"><img src="../assets/images/Res_Amazon-EC2_Auto-Scaling_48.png" alt=""></div>
        <div class="break"></div>
        <div class="service-name"><img src="../assets/images/Res_Amazon-Elastic-Block-Store_Snapshot_48.png" alt="">
        </div>
        <div class="break"></div>
        <div class="service-name"><img src="../assets/images/Res_Amazon-Elastic-Container-Service_Container-1_48.png"
            alt=""></div>
        <div class="break"></div>
        <div class="service-name"><img src="../assets/images/Res_Amazon-SageMaker_Model_48.png" alt=""></div>
        <div class="break"></div>
      </div>
    </div>
  </div>
  <div class="text-running-way-right text-running-way">
    <div class="text-row">
      <div class="single-services-list">
        <div class="service-name"><img
            src="../assets/images/Res_Amazon-Simple-Storage-Service_Bucket-With-Objects_48.png" alt=""></div>
        <div class="break"></div>
        <div class="service-name"><img src="../assets/images/Res_Amazon-Simple-Storage-Service_Bucket_48.png" alt="">
        </div>
        <div class="break"></div>
        <div class="service-name"><img
            src="../assets/images/Res_AWS-Application-Discovery-Service_AWS-Discovery-Agent_48.png" alt=""></div>
        <div class="break"></div>
        <div class="service-name"><img src="../assets/images/Res_AWS-IoT-SiteWise_Asset_48.png" alt=""></div>
        <div class="break"></div>
        <div class="service-name"><img src="../assets/images/Res_AWS-Lambda_Lambda-Function_48.png" alt=""></div>
        <div class="break"></div>
        <div class="service-name"><img src="../assets/images/Res_Amazon-CloudFront_Edge-Location_48.png" alt=""></div>
        <div class="break"></div>
      </div>
    </div>
  </div>
</section>

<section class="about-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-4 fade-up-box">
        <img src="../assets/Profile.png" alt="" class="fade-up-item">
      </div>
      <div class="col-md-7 what-is mobile-text-center fade-up-box">
        <h3 class="fade-up-item">Lino Ele Bengono</h3>
        <span class="fade-up-item">Cloud Specialist AWS</span><br>
        <p class="fade-up-item">
          Especialista en Cloud Computing, con experiencia en distintos ámbitos tecnológicos, desempeñándome como SysAdmin, con especialización en la gestión, administración y optimización de infraestructuras cloud.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="three-board-section" id="experience">
  <div class="sticky-height"></div>
</section>
<section class="features-section" id="features">
</section>
<section class="portfolio-section" id="portfolio">
  <div class="horizontal-scroll-container"></div>
</section>
<section class="process-section" id="education">
</section>
<section class="pricing-section" id="pricing">
</section>